header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
header time {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: navy;
    font-weight: 700;
}

.Nav-Container {
    display: none;
}

.Header-Container {
    text-align: center;
}

section .H-Container {
    background-color: navy;
    text-align: center;
}
.Container {
    width: 100%;
    background-image: url('C:\Users\Musi\Desktop\Problematica3\Images\lapacho.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}
.First-Article {
    width: 100%;
    text-align: center;
}
.Second-Article {
    width: 100%;
    text-align: center;
}
.Third-Article {
    width: 100%;
    text-align: center;
}
.Container img {
    width: 70%;
    justify-content: center;
}

.Mobile-Nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .Mobile-Nav .burger {
    display: none;
  }
  
  .Mobile-Nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .Mobile-Nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .Mobile-Nav a:hover {
    background-color: #ddd;
    color: black;
  }
  

@media(min-width:768px) and (max-width:1024px) {

    .Mobile-Nav {
        display: none;
    }

    .Nav-Container {
        display: flex;
        text-align: center;
        background-color: palegreen;
    }
    .Nav-Container ul {
        list-style-type: none;
    }
    .Nav-Container li {
        display: inline-flex
    }
    .Container {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    .First-Article {
        width: 100%;
        order: 1;
        justify-content: space-between;
    }
    .Second-Article {
        width: 50%;
        order: 2;
    }
    .Third-Article {
        width: 50%;
        order: 3;
    }
    .Container img {
        width: 90%;
    }
}

@media(min-width:1024px) {
    .Mobile-Nav {
        display: none;
    }
    .Nav-Container {
        display: flex;
        text-align: center;
        background-color: palegreen;
    }
    .Nav-Container ul {
        list-style-type: none;
    }
    .Nav-Container li {
        display: inline-flex
    }
    .Container {
        display: flex;
        align-items: flex-start;
    }
    .First-Article {
        width: 60%;
        order: 2;
        justify-content: space-between;
    }
    .Second-Article {
        width: 20%;
        order: 1;
    }
    .Third-Article {
        width: 20%;
        order: 3;
    }
    .Container img {
        width: 90%;
    }
}